body{
  padding: 50px;
}

img{
  width: 10%;
}

.container {
padding: 30px;
background-color: rgba(255, 250, 255, 0.9);
box-shadow: 10px 10px 10px 10px #888888;
}

.results {
  text-align: center;
  padding: 20px;
}

.results img{
  width: 250px;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}

#reset-btn {
  display: none;
  background-color: #c0c0c0;
  box-shadow: inset 0 0 0 1px #c0c0c0;
  border: none;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  left: 42%;
}
