.container {
padding: 30px;
}

.radio {

}

#php {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}

#reset-btn {
  display: none;
  position: absolute;
  right: 250px;
  bottom: 100px;
}
